extends layout 

block content 
  
  .card
    .card-body
      h1.card-title Welcome to JiveLive
      hr.chr
      h6.card-subtitle.mb-2 
        u The app created by plant lovers for plant lovers.
      p.card-text
        | When the idea struck for a social media for the earthly gifted, we could hardly contain ourselves. Now we have finally brought that idea forth into the world. COnnect with your friends, view plant photos, and more you can do here at JiveLive. Does this sound appealing to you? then click below and lets start growing your journey!
      hr.chr
      .link-group
        a.card-link(href='/login') Log-In
        a.card-link(href='/register') Sign-Up
