doctype html
html
  head
    title=title 
    link(rel='stylesheet' href='css/bootstrap.min.css')
    link(rel='stylesheet' href='css/styles.css')
    link(rel='stylesheet'  href='css/nav.css')
    script(src='https://kit.fontawesome.com/35bd895224.js' crossorigin='anonymous')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    script.
      document.addEventListener("DOMContentLoaded", function() {
        const dropdownToggle = document.querySelector(".dropdown-toggle");
        const dropdownMenu = document.querySelector(".dropdown-menu");
        if (window.location.pathname === "/secret") {
          dropdownToggle.addEventListener("click", function() {
            dropdownMenu.classList.toggle("show");
          });
        }
      });
header
  nav
    if (url == '/secret')
        ul(class='nav navbar-nav')
        li.menu
          a(class='droptog dropdown-toggle' href='#' role='button' aria-haspopup='true') 
            i.fa-solid.fa-leaf.fa-2xl
          // Add the "dropdown-menu" class to the list of menu items
          ul(class='dropmen dropdown-menu' aria-labelledby='navbarDropdown')
            li
              a(href='/') Home
            li
              a(href='/contact') Contact Us 
            li
              a(href='/Login') Log-in
            li
              a(href='/register') Sign-up
            li
              a(href='/logout') Log-out
    else
      ul(class='Nsec')
        li
          a(href='/')
            i.fa-solid.fa-house     |
        
        li
          a(href='/contact') Contact Us
        li |
        li
          a(href='/Login') Log-in
        li |
        li
          a(href='/register') Sign-up         
main
    block content 
    