doctype html
html
  head
    title=title 
    link(rel='stylesheet' href='css/bootstrap.min.css')
    link(rel='stylesheet' href='css/styles.css')
    link(rel='stylesheet'  href='css/nav.css')
header
  nav
    ul
      li
        a(href='/') Home
      li |
      li
        a(href='/contact') Contact Us 
      li |
      li
        a(href='/Login') Log-in
      li |
      li
        a(href='/register') Sign-up
      if (url == '/secret')
        li |
        li 
          a(href='/logout') Log-out
main
    block content 
    