doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')
    script(src='script.js')
header
  nav
    ul
      li
        a(href='/') Home
      li |
      li
        a(href='/contact') Contact Us 
      li |
      li
        a(href='/Login') Log-in
      li |
      li
        a(href='/register') Sign-up
main
    block content 