* {
  background-color: #144d2e;
}

.FormHead {
  color: #F6A21E;
  text-align: center;
  margin-left: 400px;
  position: relative;
  top: 100px;
  font-size: 4em;
}

.box {
  justify-content: center;
  border: 10px solid #F6A21E;
  margin-left: 200px;
  margin-right: 200px;
  display: block;
}
.box .forms {
  position: relative;
  top: 20px;
}
.box .forms label {
  font-size: 2em;
  color: #F6A21E;
}
.box .forms input {
  margin: 5px;
  color: #F6A21E;
}
.box .forms .form-control {
  background-color: #85921f;
}
.box .forms .forgot {
  position: relative;
  top: 20px;
  font-size: 1.3em;
  color: #F6A21E;
}
.box .forms .forgot:hover {
  color: #85921f;
}
.box .forms .btn {
  margin-top: 20px;
  float: right;
  position: relative;
  top: 5px;
  background-color: #F6A21E;
  color: #144d2e;
}
.box .forms .btn:hover {
  background-color: #144d2e;
  color: #F6A21E;
  border: 1px solid #F6A21E;
}

h1.logo {
  text-align: left;
  margin-left: 20px;
  margin-top: 15px;
  color: #F6A21E;
}

p.fsearch {
  color: #F6A21E;
  font-size: 1.2em;
  font-weight: bolder;
  position: absolute;
  left: 200px;
  top: 30px;
}

.search {
  width: 55%;
  position: absolute;
  left: 340px;
  top: 25px;
}
.search #search {
  background-color: #85921f;
  color: #F6A21E;
}
.search #Sbtn {
  color: #F6A21E;
  position: absolute;
  left: 770px;
  top: -8px;
  border: 2px solid #F6A21E;
  width: 18%;
}
@media (max-width: 1200px) {
  .search #Sbtn {
    left: 675px;
  }
}
.search #Sbtn:hover {
  color: #144d2e;
  background-color: #F6A21E;
  border: 2px solid #85921f;
}

hr {
  height: 5px;
  border-width: 0;
  background-color: #F6A21E;
  width: 100%;
}

.PFP {
  position: absolute;
  top: 84px;
  margin-left: 5px;
  border: 5px solid #F6A21E;
}

.nameh {
  color: #F6A21E;
  position: absolute;
  left: 285px;
  top: 90px;
}

.name {
  color: #85921f;
  font-size: 1.4em;
  position: absolute;
  left: 285px;
  top: 128px;
}

.favph {
  color: #F6A21E;
  position: absolute;
  left: 285px;
  top: 160px;
}

.favp {
  color: #85921f;
  font-size: 1.4em;
  position: absolute;
  left: 285px;
  top: 197px;
}

.bio {
  color: #F6A21E;
  position: absolute;
  top: 270px;
  margin-left: 5px;
}

.biop {
  color: #85921f;
  font-size: 1.4em;
  position: absolute;
  top: 308px;
  margin-left: 5px;
}

.PO {
  color: #F6A21E;
  position: absolute;
  top: 410px;
  margin-left: 5px;
}

.container.ownedplants {
  width: 35%;
  position: absolute;
  top: 455px;
  margin-left: 5px;
}
.container.ownedplants .imagetiles div.col-md-3 {
  padding: 0;
}
.container.ownedplants img.img-responsive.owned {
  object-fit: cover;
  width: 100%;
  height: 180px;
  border: 3px solid #85921f;
}

.vl {
  position: absolute;
  left: 488px;
  top: 84px;
  border-left: 7px solid #F6A21E;
  height: 565px;
}

.col-lg img {
  object-fit: fill;
  position: absolute;
  top: -10px;
  left: 500px;
  height: 535px;
  border: 3px solid #85921f;
}

.vl2 {
  position: absolute;
  left: 936px;
  top: 84px;
  border-left: 7px solid #F6A21E;
  height: 565px;
}

h2.notif {
  color: #F6A21E;
  position: absolute;
  left: 950px;
  top: 90px;
}

hr.two {
  width: 30%;
  position: absolute;
  left: 950px;
  top: 108px;
}

ul.notifications {
  font-size: 1.4em;
  color: #F6A21E;
  position: absolute;
  left: 950px;
  top: 130px;
}
ul.notifications li {
  color: #85921f;
}
@media (max-width: 1200px) {
  ul.notifications li {
    font-size: 0.8em;
  }
}

h2.inbox {
  color: #F6A21E;
  position: absolute;
  left: 950px;
  top: 350px;
}

hr.three {
  width: 30%;
  position: absolute;
  left: 950px;
  top: 368px;
}

.convo1 {
  color: #85921f;
  position: absolute;
  left: 960px;
  top: 392px;
  padding: 10px;
  border: 2px solid black;
  width: 25%;
}
.convo1 i {
  position: relative;
  top: 15px;
  margin: 5px;
  padding: 5px;
  float: left;
}
.convo1 span {
  position: relative;
  left: 10px;
  float: left;
}
.convo1 p {
  position: relative;
  top: 5px;
  left: 55px;
  margin-right: 0;
  padding-right: 0;
  float: left;
}

.convo2 {
  color: #85921f;
  position: absolute;
  left: 960px;
  top: 478px;
  padding: 10px;
  border: 2px solid black;
  width: 25%;
}
.convo2 i {
  position: relative;
  top: 15px;
  margin: 5px;
  padding: 5px;
  float: left;
}
.convo2 span {
  position: relative;
  left: 10px;
  float: left;
}
.convo2 p {
  position: relative;
  top: 5px;
  left: 55px;
  margin-right: 0;
  padding-right: 0;
  float: left;
}

.convo3 {
  color: #85921f;
  position: absolute;
  left: 960px;
  top: 560px;
  padding: 15px;
  border: 2px solid black;
  width: 25%;
}
.convo3 i {
  position: relative;
  top: 15px;
  margin: 5px;
  padding: 5px;
  float: left;
}
.convo3 span {
  position: relative;
  left: 5px;
  float: left;
}
.convo3 p {
  position: relative;
  top: 25px;
  left: -43px;
  margin-right: 0;
  padding-right: 0;
  float: left;
}
@media (max-width: 1200px) {
  .convo3 p {
    left: 46px;
    top: 5px;
  }
}

.card {
  width: 75%;
  height: 75%;
  border: 5px solid #85921f;
  position: absolute;
  left: 160px;
  top: 110px;
}
.card .card-title {
  position: relative;
  bottom: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 3em;
  color: #F6A21E;
}
.card .chr {
  background-color: #85921f;
}
.card .card-subtitle.mb-2 {
  text-align: center;
  font-size: 1.69em;
  margin-top: 20px;
  padding-bottom: 20px;
  color: #F6A21E;
  font-style: italic;
  font-weight: lighter;
}
.card .card-text {
  text-align: center;
  font-size: 1.59em;
  padding-bottom: 20px;
  position: relative;
  top: 5px;
  color: #F6A21E;
}
.card .link-group {
  text-align: center;
  font-size: 1.6em;
  position: relative;
  top: 5px;
}
.card .link-group a {
  color: #F6A21E;
}
.card .link-group a:hover {
  color: #85921f;
  text-decoration: underline;
}

/*# sourceMappingURL=styles.css.map */
